### Import Pandas & Numpy

In [268]:
import pandas as pd
import numpy as np

### Create Pandas Data Frame by reading from CSV File

In [269]:
path = '~/Documents/GitHub/DataSets/Cars/mtcars.csv'
# path = "https://vincentarelbundock.github.io/Rdatasets/csv/datasets/mtcars.csv"
try:
    mtcars = pd.read_csv(path, index_col=0)
#     mtcars = pd.read_table(path, sep=',', index_col=0)
except Exception as e:
    print('Exception: {} \n {}'.format(type(e).__name__, e.args))

### How to handle following cases-
- Presence and Absence of Header Row
- CSV, TSV or other Separator Character

### Print the data to screen

In [270]:
mtcars

,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2
Valiant,18.1,6,225.0,105,2.76,3.460,20.22,1,0,3,1
Duster 360,14.3,8,360.0,245,3.21,3.570,15.84,0,0,3,4
Merc 240D,24.4,4,146.7,62,3.69,3.190,20.00,1,0,4,2
Merc 230,22.8,4,140.8,95,3.92,3.150,22.90,1,0,4,2
Merc 280,19.2,6,167.6,123,3.92,3.440,18.30,1,0,4,4
Merc 280C,17.8,6,167.6,123,3.92,3.440,18.90,1,0,4,4
Merc 450SE,16.4,8,275.8,180,3.07,4.070,17.40,0,0,3,3
Merc 450SL,17.3,8,275.8,180,3.07,3.730,17.60,0,0,3,3
Merc 450SLC,15.2,8,275.8,180,3.07,3.780,18.00,0,0,3,3
Cadillac Fleetwood,10.4,8,472.0,205,2.93,5.250,17.98,0,0,3,4
Lincoln Continental,10.4,8,460.0,215,3.00,5.424,17.82,0,0,3,4
Chrysler Imperial,14.7,8,440.0,230,3.23,5.345,17.42,0,0,3,4
Fiat 128,32.4,4,78.7,66,4.08,2.200,19.47,1,1,4,1
Honda Civic,30.4,4,75.7,52,4.93,1.615,18.52,1,1,4,2
Toyota Corolla,33.9,4,71.1,65,4.22,1.835,19.90,1,1,4,1
Toyota Corona,21.5,4,120.1,97,3.70,2.465,20.01,1,0,3,1
Dodge Challenger,15.5,8,318.0,150,2.76,3.520,16.87,0,0,3,2
AMC Javelin,15.2,8,304.0,150,3.15,3.435,17.30,0,0,3,2
Camaro Z28,13.3,8,350.0,245,3.73,3.840,15.41,0,0,3,4
Pontiac Firebird,19.2,8,400.0,175,3.08,3.845,17.05,0,0,3,2
Fiat X1-9,27.3,4,79.0,66,4.08,1.935,18.90,1,1,4,1
Porsche 914-2,26.0,4,120.3,91,4.43,2.140,16.70,0,1,5,2
Lotus Europa,30.4,4,95.1,113,3.77,1.513,16.90,1,1,5,2
Ford Pantera L,15.8,8,351.0,264,4.22,3.170,14.50,0,1,5,4
Ferrari Dino,19.7,6,145.0,175,3.62,2.770,15.50,0,1,5,6
Maserati Bora,15.0,8,301.0,335,3.54,3.570,14.60,0,1,5,8
Volvo 142E,21.4,4,121.0,109,4.11,2.780,18.60,1,1,4,2

### Print Shape of DataFrame - Rows & Columns

In [271]:
print('Shape {} Rows={} Columns={}'.format(mtcars.shape, mtcars.shape[0], mtcars.shape[1]))
print('Number of Dimensions: {}'.format(mtcars.ndim))

Shape (32, 11) Rows=32 Columns=11
Number of Dimensions: 2

### Print Header of DataFrame - Column Names

In [272]:
# Columns are returned as a List of Index Objects
print(mtcars.columns)

# To just get list, cast to list
print(list(mtcars.columns))

Index(['mpg', 'cyl', 'disp', 'hp', 'drat', 'wt', 'qsec', 'vs', 'am', 'gear',
       'carb'],
      dtype='object')
['mpg', 'cyl', 'disp', 'hp', 'drat', 'wt', 'qsec', 'vs', 'am', 'gear', 'carb']

### Print the Row Names of Data Frame

In [273]:
# We specified index as column 0. It is returned as List of Index Objects
print(mtcars.index)

# To get a list, cast it to list
print(list(mtcars.index))

Index(['Mazda RX4', 'Mazda RX4 Wag', 'Datsun 710', 'Hornet 4 Drive',
       'Hornet Sportabout', 'Valiant', 'Duster 360', 'Merc 240D', 'Merc 230',
       'Merc 280', 'Merc 280C', 'Merc 450SE', 'Merc 450SL', 'Merc 450SLC',
       'Cadillac Fleetwood', 'Lincoln Continental', 'Chrysler Imperial',
       'Fiat 128', 'Honda Civic', 'Toyota Corolla', 'Toyota Corona',
       'Dodge Challenger', 'AMC Javelin', 'Camaro Z28', 'Pontiac Firebird',
       'Fiat X1-9', 'Porsche 914-2', 'Lotus Europa', 'Ford Pantera L',
       'Ferrari Dino', 'Maserati Bora', 'Volvo 142E'],
      dtype='object')
['Mazda RX4', 'Mazda RX4 Wag', 'Datsun 710', 'Hornet 4 Drive', 'Hornet Sportabout', 'Valiant', 'Duster 360', 'Merc 240D', 'Merc 230', 'Merc 280', 'Merc 280C', 'Merc 450SE', 'Merc 450SL', 'Merc 450SLC', 'Cadillac Fleetwood', 'Lincoln Continental', 'Chrysler Imperial', 'Fiat 128', 'Honda Civic', 'Toyota Corolla', 'Toyota Corona', 'Dodge Challenger', 'AMC Javelin', 'Camaro Z28', 'Pontiac Firebird', 'Fiat X1-9', 'Porsche 914-2', 'Lotus Europa', 'Ford Pantera L', 'Ferrari Dino', 'Maserati Bora', 'Volvo 142E']

### Print Head & Tail

In [274]:
# Head
mtcars.head()

,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2

In [275]:
mtcars.head(1)

            mpg  cyl   disp   hp  drat    wt   qsec  vs  am  gear  carb
Mazda RX4  21.0    6  160.0  110   3.9  2.62  16.46   0   1     4     4

In [276]:
mtcars.tail()

                 mpg  cyl   disp   hp  drat     wt  qsec  vs  am  gear  carb
Lotus Europa    30.4    4   95.1  113  3.77  1.513  16.9   1   1     5     2
Ford Pantera L  15.8    8  351.0  264  4.22  3.170  14.5   0   1     5     4
Ferrari Dino    19.7    6  145.0  175  3.62  2.770  15.5   0   1     5     6
Maserati Bora   15.0    8  301.0  335  3.54  3.570  14.6   0   1     5     8
Volvo 142E      21.4    4  121.0  109  4.11  2.780  18.6   1   1     4     2

In [277]:
mtcars.tail(1)

             mpg  cyl   disp   hp  drat    wt  qsec  vs  am  gear  carb
Volvo 142E  21.4    4  121.0  109  4.11  2.78  18.6   1   1     4     2

### Print structure of Dataframe

In [278]:
mtcars.dtypes

mpg     float64
cyl       int64
disp    float64
hp        int64
drat    float64
wt      float64
qsec    float64
vs        int64
am        int64
gear      int64
carb      int64
dtype: object

### Print 5/7 value Summary information of DF

In [279]:
mtcars.describe()

,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
count,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.0000
mean,20.090625,6.187500,230.721875,146.687500,3.596563,3.217250,17.848750,0.437500,0.406250,3.687500,2.8125
std,6.026948,1.785922,123.938694,68.562868,0.534679,0.978457,1.786943,0.504016,0.498991,0.737804,1.6152
min,10.400000,4.000000,71.100000,52.000000,2.760000,1.513000,14.500000,0.000000,0.000000,3.000000,1.0000
25%,15.425000,4.000000,120.825000,96.500000,3.080000,2.581250,16.892500,0.000000,0.000000,3.000000,2.0000
50%,19.200000,6.000000,196.300000,123.000000,3.695000,3.325000,17.710000,0.000000,0.000000,4.000000,2.0000
75%,22.800000,8.000000,326.000000,180.000000,3.920000,3.610000,18.900000,1.000000,1.000000,4.000000,4.0000
max,33.900000,8.000000,472.000000,335.000000,4.930000,5.424000,22.900000,1.000000,1.000000,5.000000,8.0000

## Rename columns in Pandas

In [280]:
# Method 1: Use Rename
mtcars.rename(columns={'mpg':'MPG', 'gear':'NumGears'}, inplace=True)
mtcars.columns

Index(['MPG', 'cyl', 'disp', 'hp', 'drat', 'wt', 'qsec', 'vs', 'am',
       'NumGears', 'carb'],
      dtype='object')

In [281]:
# Method 2: Use String operations and assign to columns
mtcars.columns = [s.capitalize() for s in mtcars.columns]
mtcars.columns

Index(['Mpg', 'Cyl', 'Disp', 'Hp', 'Drat', 'Wt', 'Qsec', 'Vs', 'Am',
       'Numgears', 'Carb'],
      dtype='object')

In [282]:
# Method 3: Specify columns as part of reading the file
mtcars = pd.read_csv(path, index_col=0, header=0, names=['Mpg','Cylinders', 'Displacement', 'Horse Power', 'Drat', 'Weight', 'QSEC', 'Vs', 'AM',  'Gears', 'Carb'])
mtcars.columns

Index(['Mpg', 'Cylinders', 'Displacement', 'Horse Power', 'Drat', 'Weight',
       'QSEC', 'Vs', 'AM', 'Gears', 'Carb'],
      dtype='object')

## Select Data from DataFrame

### Select Columns
Each column in a Pandas DataFrame is a Pandas Series

#### Columns by Name - Bracket Notation

In [283]:
mtcars['Mpg']

Mazda RX4              21.0
Mazda RX4 Wag          21.0
Datsun 710             22.8
Hornet 4 Drive         21.4
Hornet Sportabout      18.7
Valiant                18.1
Duster 360             14.3
Merc 240D              24.4
Merc 230               22.8
Merc 280               19.2
Merc 280C              17.8
Merc 450SE             16.4
Merc 450SL             17.3
Merc 450SLC            15.2
Cadillac Fleetwood     10.4
Lincoln Continental    10.4
Chrysler Imperial      14.7
Fiat 128               32.4
Honda Civic            30.4
Toyota Corolla         33.9
Toyota Corona          21.5
Dodge Challenger       15.5
AMC Javelin            15.2
Camaro Z28             13.3
Pontiac Firebird       19.2
Fiat X1-9              27.3
Porsche 914-2          26.0
Lotus Europa           30.4
Ford Pantera L         15.8
Ferrari Dino           19.7
Maserati Bora          15.0
Volvo 142E             21.4
Name: Mpg, dtype: float64

#### Select column using Dot(.) notation
Use this when column name-
- Has **spaces** in the name
- Is the same name as a DataFrame method or attribute (ex. 'head' or 'shape'

In [284]:
# Pandas creates 'attributes' out of the columns
# Use this only when column names don't have spaces

# This 

mtcars.Mpg

Mazda RX4              21.0
Mazda RX4 Wag          21.0
Datsun 710             22.8
Hornet 4 Drive         21.4
Hornet Sportabout      18.7
Valiant                18.1
Duster 360             14.3
Merc 240D              24.4
Merc 230               22.8
Merc 280               19.2
Merc 280C              17.8
Merc 450SE             16.4
Merc 450SL             17.3
Merc 450SLC            15.2
Cadillac Fleetwood     10.4
Lincoln Continental    10.4
Chrysler Imperial      14.7
Fiat 128               32.4
Honda Civic            30.4
Toyota Corolla         33.9
Toyota Corona          21.5
Dodge Challenger       15.5
AMC Javelin            15.2
Camaro Z28             13.3
Pontiac Firebird       19.2
Fiat X1-9              27.3
Porsche 914-2          26.0
Lotus Europa           30.4
Ford Pantera L         15.8
Ferrari Dino           19.7
Maserati Bora          15.0
Volvo 142E             21.4
Name: Mpg, dtype: float64

#### More than one Column by Name
**Note:** This can select __either__ Rows or Columns at one time. Not both.

In [285]:
mtcars[['Mpg', 'Cylinders', 'Horse Power']]

                      Mpg  Cylinders  Horse Power
Mazda RX4            21.0          6          110
Mazda RX4 Wag        21.0          6          110
Datsun 710           22.8          4           93
Hornet 4 Drive       21.4          6          110
Hornet Sportabout    18.7          8          175
Valiant              18.1          6          105
Duster 360           14.3          8          245
Merc 240D            24.4          4           62
Merc 230             22.8          4           95
Merc 280             19.2          6          123
Merc 280C            17.8          6          123
Merc 450SE           16.4          8          180
Merc 450SL           17.3          8          180
Merc 450SLC          15.2          8          180
Cadillac Fleetwood   10.4          8          205
Lincoln Continental  10.4          8          215
Chrysler Imperial    14.7          8          230
Fiat 128             32.4          4           66
Honda Civic          30.4          4           52
Toyota Corolla       33.9          4           65
Toyota Corona        21.5          4           97
Dodge Challenger     15.5          8          150
AMC Javelin          15.2          8          150
Camaro Z28           13.3          8          245
Pontiac Firebird     19.2          8          175
Fiat X1-9            27.3          4           66
Porsche 914-2        26.0          4           91
Lotus Europa         30.4          4          113
Ford Pantera L       15.8          8          264
Ferrari Dino         19.7          6          175
Maserati Bora        15.0          8          335
Volvo 142E           21.4          4          109

### Selecting Rows

#### Select Rows using Bracket [ ] Operator

In [286]:
mtcars['Mazda RX4':'Valiant']

,Mpg,Cylinders,Displacement,Horse Power,Drat,Weight,QSEC,Vs,AM,Gears,Carb
Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2
Valiant,18.1,6,225.0,105,2.76,3.460,20.22,1,0,3,1

#### Selecting Rows by Row-Location

In [287]:
mtcars[1:10:1] # Print all Odd Numbered rows from 1 to 10

,Mpg,Cylinders,Displacement,Horse Power,Drat,Weight,QSEC,Vs,AM,Gears,Carb
Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2
Valiant,18.1,6,225.0,105,2.76,3.460,20.22,1,0,3,1
Duster 360,14.3,8,360.0,245,3.21,3.570,15.84,0,0,3,4
Merc 240D,24.4,4,146.7,62,3.69,3.190,20.00,1,0,4,2
Merc 230,22.8,4,140.8,95,3.92,3.150,22.90,1,0,4,2
Merc 280,19.2,6,167.6,123,3.92,3.440,18.30,1,0,4,4

In [288]:
mtcars[10:] # All rows from 10 Onwards

,Mpg,Cylinders,Displacement,Horse Power,Drat,Weight,QSEC,Vs,AM,Gears,Carb
Merc 280C,17.8,6,167.6,123,3.92,3.440,18.90,1,0,4,4
Merc 450SE,16.4,8,275.8,180,3.07,4.070,17.40,0,0,3,3
Merc 450SL,17.3,8,275.8,180,3.07,3.730,17.60,0,0,3,3
Merc 450SLC,15.2,8,275.8,180,3.07,3.780,18.00,0,0,3,3
Cadillac Fleetwood,10.4,8,472.0,205,2.93,5.250,17.98,0,0,3,4
Lincoln Continental,10.4,8,460.0,215,3.00,5.424,17.82,0,0,3,4
Chrysler Imperial,14.7,8,440.0,230,3.23,5.345,17.42,0,0,3,4
Fiat 128,32.4,4,78.7,66,4.08,2.200,19.47,1,1,4,1
Honda Civic,30.4,4,75.7,52,4.93,1.615,18.52,1,1,4,2
Toyota Corolla,33.9,4,71.1,65,4.22,1.835,19.90,1,1,4,1
Toyota Corona,21.5,4,120.1,97,3.70,2.465,20.01,1,0,3,1
Dodge Challenger,15.5,8,318.0,150,2.76,3.520,16.87,0,0,3,2
AMC Javelin,15.2,8,304.0,150,3.15,3.435,17.30,0,0,3,2
Camaro Z28,13.3,8,350.0,245,3.73,3.840,15.41,0,0,3,4
Pontiac Firebird,19.2,8,400.0,175,3.08,3.845,17.05,0,0,3,2
Fiat X1-9,27.3,4,79.0,66,4.08,1.935,18.90,1,1,4,1
Porsche 914-2,26.0,4,120.3,91,4.43,2.140,16.70,0,1,5,2
Lotus Europa,30.4,4,95.1,113,3.77,1.513,16.90,1,1,5,2
Ford Pantera L,15.8,8,351.0,264,4.22,3.170,14.50,0,1,5,4
Ferrari Dino,19.7,6,145.0,175,3.62,2.770,15.50,0,1,5,6
Maserati Bora,15.0,8,301.0,335,3.54,3.570,14.60,0,1,5,8
Volvo 142E,21.4,4,121.0,109,4.11,2.780,18.60,1,1,4,2

#### Selecting Row and Columns via Bracket Notation - This does not work

In [289]:
mtcars[1:5, ['Mpg', 'Disp']]
# Prints Unhashable type: 'slice'

TypeError: unhashable type: 'slice'

### Select Data by Labels using .loc
**Note** .loc selects data only by index or column labels. Some data frames may not have meaningful names and default to integers from 0 to n-1, where n is length of data frame

#### Selecting a single row with .loc with a string

In [ ]:
mtcars.loc['Mazda RX4']

# This returns a single row of data with all columns and type. 
# This returns the row of data as a series

#### Selecting multiple rows with .loc using list of strings
This returns a Data frame with rows in the order specified in the list

In [ ]:
mtcars.loc[['Mazda RX4', 'Toyota Corolla', 'Toyota Corona']]

#### Selecting multiple rows with .loc using Slice Notation [:]
Slice Notation is defined by [start:stop:step] values. Note that pandas includes the stop value unlike python lists.

In [ ]:
mtcars.loc['Mazda RX4':'Datsun 710']

In [ ]:
mtcars.loc['Mazda RX4':'Toyota Corolla':3]

#### Select Columns using .loc

In [ ]:
mtcars.loc['Mazda RX4',['Mpg', 'Horse Power']]

## Selecting data by integer location using .iloc
* Every row and column of data in a DataFrame has an integer location that defines it
* The integer location is the number of rows/columns from the top/left beginning at 0
* We can use an integer, list of integers or slice notation with .iloc
* .iloc can be used to fetch rows or columns

#### Selecting a single row with .iloc with an integer
This returns the row as a Series

In [ ]:
mtcars.iloc[0]

#### Selecting multiple rows with .iloc with list of integers

In [ ]:
# We are selecting 1st and last rows
# This returns a DataFrame and not a series
mtcars.iloc[[0,-1]]

#### Selecting multiple rows with .iloc using slice notation

In [ ]:
mtcars.iloc[0:5:2]

### Selecting both rows and columns with .iloc and .loc
Separate Row and column specifier with a comma (,)

In [ ]:
# Get the first 3 rows and 3 Columns
mtcars.iloc[0:3, 0:3]

In [ ]:
# Get Named Rows and Columns
mtcars.iloc[[1,5,10], 1:5]

## Mixing Label strings and Numbers in .loc/.iloc
* .ix was initailly used for mixing labels and integer locations. This was confusing and ambiguous, so has been depricated!
* If we need to mix Integers and Labels, convert both to a single type - either both Labels or both Integers

In [ ]:
col_names = mtcars.columns[[0, 1,5,7]]
col_names
mtcars.loc['Mazda RX4':'Datsun 710', col_names]

In [ ]:
labels = ['Mazda RX4', 'Mazda RX4 Wag']
mazda_indeces = [mtcars.index.get_loc(label) for label in labels]
mazda_indeces

mtcars.iloc[mazda_indeces, :]

In [ ]:
# all Merc vehicles
vehicle_indeces = [mtcars.index.get_loc(s) for s in mtcars.index if 'Merc' in s]
vehicle_indeces
mtcars.iloc[vehicle_indeces,:]

### Select Rows based on condition

In [ ]:
mtcars.iloc[(mtcars['Mpg']>20).values,:]

## Sort DataFrame Columns 
(Single Sort, Sort Asc & Desc, Multi-column sort)

#### Sort a Pandas Single column Series - Use the Dot notation to access the column

In [ ]:
mtcars.Cylinders.sort_values().head()
mtcars.sort

#### Sort using Bracket Notation
```python
mtcars.sort_values(by, axis=0, ascending=True, inplace=False, kind='quicksort', na_position='last')
```

In [ ]:
mtcars.sort_values(by='Cylinders').head()

#### Sort Descending

In [ ]:
mtcars.sort_values(by='Cylinders', ascending=False).head()

#### Sort multiple columns, but with same order

In [ ]:
mtcars.sort_values(by=['Cylinders', 'Gears', 'Displacement']).head()

#### Sort multiple columns with Different Sort Orders
Specify the different sort orders as a list to ```ascending``` argument

In [ ]:
mtcars.sort_values(by=['Cylinders','Gears', 'Displacement'], ascending=[True, True, False])

## Add Columns

#### Add a new Column by computation

In [301]:
mtcars['Kmpl'] = mtcars['Mpg'] * 0.425144
mtcars.head()

,Mpg,Cylinders,Displacement,Horse Power,Drat,Weight,QSEC,Vs,AM,Gears,Carb,Kmpl
Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4,8.928024
Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4,8.928024
Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1,9.693283
Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1,9.098082
Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2,7.950193

#### Add column using Using 'assign'

In [306]:
mtcars.assign(Kmpl=mtcars.Mpg * 0.425144)
mtcars.head()

,Mpg,Cylinders,Displacement,Horse Power,Drat,Weight,QSEC,Vs,AM,Gears,Carb,Kmpl
Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4,8.928024
Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4,8.928024
Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1,9.693283
Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1,9.098082
Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2,7.950193

#### Add a new Column by Joining a Series (Column bind)

In [311]:
mpg = mtcars['Mpg']
kmpl = mpg * 0.425144
kmpl
mtcars.drop('Kmpl', axis=1, inplace=True)
mtcars.head()
mtcars.

,Mpg,Cylinders,Displacement,Horse Power,Drat,Weight,QSEC,Vs,AM,Gears,Carb
Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2

### Add a new row (Row Bind)

## Remove/Delete Columns
```
mtcars.drop(labels=None, axis=0, index=None, columns=None, level=None, inplace=False, errors='raise')
```

#### Remove Single column (axis=1 refers to columns)

In [ ]:
mtcars.drop(columns='Drat', axis=1).head()

#### Remove more than 1 column

In [ ]:
mtcars.drop(columns=['Drat','QSEC','Vs', 'AM'], axis=1).head()

#### Remove columns in-place
- If ```inplace=True```: Column is removed permanently
- If ```inpulace=False```: Data frame with column removed is returned

In [ ]:
mtcars.drop(columns=['Drat','QSEC'], inplace=True, axis=1)
mtcars.head()

## Delete Rows

#### Delete one row

In [ ]:
mtcars.drop('Mazda RX4', axis=0).head()

#### Delete multiple rows

In [ ]:
#mtcars.index[0::2]
mtcars.drop(mtcars.index[0::2], axis=0)

In [298]:
# Get list of all the mercs
mercs = [brand for brand in mtcars.index if 'Merc' in brand]

# Drop them
mtcars.drop(mercs, axis=0)

,Mpg,Cylinders,Displacement,Horse Power,Drat,Weight,QSEC,Vs,AM,Gears,Carb
Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2
Valiant,18.1,6,225.0,105,2.76,3.460,20.22,1,0,3,1
Duster 360,14.3,8,360.0,245,3.21,3.570,15.84,0,0,3,4
Cadillac Fleetwood,10.4,8,472.0,205,2.93,5.250,17.98,0,0,3,4
Lincoln Continental,10.4,8,460.0,215,3.00,5.424,17.82,0,0,3,4
Chrysler Imperial,14.7,8,440.0,230,3.23,5.345,17.42,0,0,3,4
Fiat 128,32.4,4,78.7,66,4.08,2.200,19.47,1,1,4,1
Honda Civic,30.4,4,75.7,52,4.93,1.615,18.52,1,1,4,2
Toyota Corolla,33.9,4,71.1,65,4.22,1.835,19.90,1,1,4,1
Toyota Corona,21.5,4,120.1,97,3.70,2.465,20.01,1,0,3,1
Dodge Challenger,15.5,8,318.0,150,2.76,3.520,16.87,0,0,3,2
AMC Javelin,15.2,8,304.0,150,3.15,3.435,17.30,0,0,3,2
Camaro Z28,13.3,8,350.0,245,3.73,3.840,15.41,0,0,3,4
Pontiac Firebird,19.2,8,400.0,175,3.08,3.845,17.05,0,0,3,2
Fiat X1-9,27.3,4,79.0,66,4.08,1.935,18.90,1,1,4,1
Porsche 914-2,26.0,4,120.3,91,4.43,2.140,16.70,0,1,5,2
Lotus Europa,30.4,4,95.1,113,3.77,1.513,16.90,1,1,5,2
Ford Pantera L,15.8,8,351.0,264,4.22,3.170,14.50,0,1,5,4
Ferrari Dino,19.7,6,145.0,175,3.62,2.770,15.50,0,1,5,6
Maserati Bora,15.0,8,301.0,335,3.54,3.570,14.60,0,1,5,8
Volvo 142E,21.4,4,121.0,109,4.11,2.780,18.60,1,1,4,2

### Change one or more Row-Col Values of DF

### Handling Null Values in DF

In [317]:
# 'isnull()' returns a Dataframe of booleans. True means missing
mtcars.isnull().sum()

Mpg             0
Cylinders       0
Displacement    0
Horse Power     0
Drat            0
Weight          0
QSEC            0
Vs              0
AM              0
Gears           0
Carb            0
dtype: int64

In [318]:
# notnull() returns the opposite - True if not missing, False if missing
mtcars.notnull().sum()

Mpg             32
Cylinders       32
Displacement    32
Horse Power     32
Drat            32
Weight          32
QSEC            32
Vs              32
AM              32
Gears           32
Carb            32
dtype: int64

### Subsetting DF

### Merging DF - Stack and Join

### Order/Group-By in DF